body {
letter-spacing: 0.25px;
}

.SMOL {
    text-align: center;
    color: #1a63a2;
    letter-spacing: 0.25px;
    font-size: 0.8235294117647059rem;
}

.SMOL:hover {
    color: #003B71;
}

.subheading {
    text-align: center;
    font-size: xx-large;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ImageDescription {
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-title {
    color: #151515;
    font-size: 16px;
    text-align: left;
    display: block;
    font-weight: 700;
    line-height: 1.3rem;
   
}

.product-model-number {
    color: #555;
    font-size: 16px;
    font-weight: normal;
}

.textcenter {
    text-align: center;
}

.product-link {
    text-align: left;
    margin-left: 1rem;
    font-size: 0.875rem;
    line-height: 1.8rem;
    font-weight: 400;
    top: 715px;
left: 1363px;
width: 382px;
height: 16px;
padding-left: 950px;

}

.product-link-button {
    color: #1a63a2;
    letter-spacing: 0.25px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-right: 20px;
    font-size: 0.8235294117647059rem;
    background: transparent;
    border: none;
}

.product-link-button:hover {
    color: #003B71;
    text-decoration: underline;
}

.product-link-button-p {
    color: #1a63a2;
    letter-spacing: 0.25px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 0.8235294117647059rem;
    background: transparent;
    border: none;
}

.product-link-button-p:hover {
    color: #003B71;
    text-decoration: underline;
}

.delivery-info:hover {
    text-decoration: underline;
}

.return-an-item:hover {
    text-decoration: underline;
}

.track-my-order:hover {
    text-decoration: underline;
}

.reschedule:hover {
    text-decoration: underline;
}

.view-order-details:hover {
    text-decoration: underline;
    color: #092c74;
}

.view-order-details {
    color: #1a63a2;
    background-color: transparent;
    border: transparent;
    width:200px;
}

.text-content-main {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
}

.orderDetail {
    background: #DED1B1 0% 0% no-repeat padding-box;
    font-size: 16px;
    text-align: center;
   /* margin-bottom: 2rem;
    line-height: 1.4287;
     padding-top: 15px;
    padding-bottom: 15px; */
    color: black;
    font-weight: bold;
   
   
}

.viewlink {
	background: #FFFFFF !important;
	text-align: left;
    font: normal normal medium 16px/23px Gibson;
     letter-spacing: 0.32px;
     color: #145B95;
     text-transform: capitalize;
      opacity: 1;
}



.OrdInd {
    padding-top: 20px;
    padding-bottom: 20px;
}

.track-text {
    color: #555555;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3rem;
    display: block;
}

.spinner-div {
    position: relative;
    display: inline-block;
    margin: 4px 18px;
}

@media screen and (max-width:5.9375rem) {
    .ProductImage {
        display: none;
    }
    .product-title {
        width: 100%;
        text-align: left;
    }
    .mob-view-set {
        display: flex;
        flex-direction: column;
       

    }
    .product-link {
        text-align: left;
         font-size: 0.875rem;
        line-height: 1.8rem;
        font-weight: 400;
        padding: 0.5rem;
        width: 20rem;
        margin: 0rem 0rem 1rem 0rem;

    }
    .view-order-details {
        color: #1a63a2;
        border: transparent;
        padding: 0rem;
    }
    .mob-head {
        width: 20rem;
        display: block;
        padding: 0.5rem 10px;
    }
    .orderDetail {
        background-color: #efefef;
        font-size: 16px;
        text-align: center;
        margin-bottom: 0.5rem;
        line-height: 1.4287;
        color: black;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        display: flex;
        padding-bottom: 15px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .test {
        width: 20rem;
        float: left;
        display: inline-flex;
        writing-mode: horizontal-tb;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
        align-items: baseline;
        padding: 0.5rem 0.5rem;
    }
    .order-data {
        font-weight: 100;
        font-size: 15px;
        color: #555;
        margin-left: auto;
        width: 50%;
    }
}