.productView-services-main {
    background-color: #F7F1E7;
    padding-top: 10px;
    font-size: .875rem;

    text-align: left;
/* font: normal normal normal 16px/23px Neue Haas Grotesk Display Pro; */
/* letter-spacing: 0.48px; */
color: #12212E;
opacity: 1;
border-bottom: 2px solid lightgrey;
}

.productView-services {
    margin-bottom: 10px;
    /* padding-top: 10px; */
    font-size: .875rem;
    background-color: #F7F1E7;
    text-align: left;
/* font: normal normal normal 16px/23px Neue Haas Grotesk Display Pro; */
/* letter-spacing: 0.48px; */
color: #12212E;
opacity: 1;

.productView-services-false {
    margin-bottom: 10px;
    font-size: .875rem;
    text-align: left;
    color: #12212E;
    opacity: 1;
}
}
.justify-content-spaceBetween {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align-items-top {
    -ms-flex-align: start;
    align-items: flex-start;
}
.d-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
   
}
.productView-services-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: .875rem;
  
    text-transform: none;
}
.productView-services-title-main {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: .875rem;
    font-weight: 700;
    text-transform: none;
}
.productView-services-title .icon {
    margin-right: 8px;
    
}
.productView-services-title-main .icon {
    margin-right: 8px;
    margin-left:10px;
}
.productView-services-title span {
    display: inline-block;
    vertical-align: middle;
    padding-top: 13px;
    font-size:medium;
}
.productView-services-title-main span {
    display: inline-block;
    vertical-align: middle;
    font-size: medium;
}
.productView-services-text {
    /* margin-bottom: 24px; */
    margin-left: 29px;
    font-size: medium;
}

p {
    font-size: .875rem;
}
.productView-services-price {
    /* margin-left: 5px; */
    /* margin-bottom: 10px; */
    margin-right:40px;
    font-size: medium;

    
}

.free{
    font-size: medium;
    font-weight: bold;
}

.productView-services-price-member{
    text-decoration: line-through;
    margin-right:40px;
    font-size: medium;
    margin-left:10px;
}
.icon svg {
    display: inline-block;
    fill: #757575;
    height: 100%;
    vertical-align: top;
    width: 100%;
  .e{fill:none;isolation:isolate;}.f{fill:#12212e;}

}



.footerButton2 {
    color: #000;
    background: var(--sunshine-yellow);
    font-weight: var(--font-weight-bold);
}

.footerButton2:hover,
.footerButton2:active {
    color: #000;
    background: #fff;
}
.cta-container {
    display: flex;
    justify-content: space-evenly;
}

.form-label {
    margin-bottom: 1rem;
}

.offer-list {
    padding-left: 25px;
}

.d-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.form-radio+.form-label {
    color: #12212e;
    display: inline-block;
    font-size: .875rem;
    font-weight: normal;
    margin-bottom: 0px;
    padding-left: 12px;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}
.input-container
{
    display: flex;
}

.offer-row {
    display: flex;
    margin-bottom: 15px;
}
.modal-border {
    border-radius: 0;
}
/* Modal */
@media (min-width: 48em) {
    .slds-modal__container {
        padding: 0;

    }
}
.title {
    display: flex;
    align-items: center;
    font-size: 12.5px;
    font-weight: 400;
}