body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
    margin: 0 auto;
    max-width: 450px;
    position: relative;
}

.header-title {
    margin: 0 0 1em;
    color: #004b3d;
    cursor: auto;
    font-style: normal;
    font-weight: 300;
    font-family: "adobe-garamond-pro", Baskerville, "Times New Roman", serif;
    font-size: 1.625rem;
    line-height: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.005em;
}

label {
    text-align: left;
    display: block;
    font-size: 0.9411764705882353rem;
    /* vertical-align: middle; */
    display: inline-block;
    position: relative;
    margin: 1em 0 0.2em;
    font-weight: 400;
    width: 100%;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .8px;
    color: #6c6158;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* .input-box {
    width: 51%;
} */

.background-set {
    background-color: rgba(244, 244, 243, 1);
    max-width: 450px;
    position: relative;
}

.continuebtn:hover {
    background-color: rgba(24, 63, 50, 0.8);
    border: 2px solid #004b3d;
    color: #fff;
}

.containers {
    padding: 1px;
    text-align: left;
    width: 80%;
    margin: 0px auto;
}

h1 {
    text-align: center;
}

.continuebtn {
    cursor: pointer;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #004b3d;
    color: #fff;
    border: 2px solid #004b3d;
    color: #fff;
    width: 80%;
    margin-top: 2rem;
    font-size: 0.875rem;
    padding: 16px 48px;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 1rem;
    transition: all .15s ease;
    height: 3rem;
}

.input-box-text {
    font-weight: 300;
    display: block;
    font-size: 12px;
    text-align: left;
    color: #6c6158;
    margin: 0.3rem 0rem;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width:40rem) {
    .center {
        width: 100%;
    }
    .continuebtn {
        border: 2px solid #004b3d;
        cursor: pointer;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        margin: 0 0 1em;
        position: relative;
        height: 3rem;
        width: 80%;
        margin-top: 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: #004b3d;
        color: #fff;
        font-size: 0.875rem;
        padding: 16px 13px;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1rem;
        transition: all .15s ease;
    }
    .containers {
        padding: 1px;
        text-align: left;
        margin: 0px auto;
    }
}