body {
    letter-spacing: .25px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
}

.center {
    margin: 0 auto;
    width: 51%;
}

.header-title {
    margin: 0 0 1em;
    font-size: 25px;
    color: #333;
    letter-spacing: .25px;
    line-height: 1.18571em;
    cursor: auto;
    font-style: normal;
    font-weight: 300;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
}

label {
    text-align: left;
    display: block;
    font-size: 0.9411764705882353rem;
    /* vertical-align: middle; */
    display: inline-block;
    position: relative;
    margin: 1em 0 0.2em;
    font-weight: 400;
    line-height: normal;
    font-weight: bold;
    color: #333;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
}


/* .input-box {
    width: 51%;
} */

.continuebtn:hover {
    background-color: #092c74;
    border-color: #092c74;
    color: #fff;
}

.containers {
    padding: 13px;
    text-align: left;
    margin: 0px auto;
}

h1 {
    text-align: center;
}

.continuebtn {
    border: 2px solid #1a63a2;
    cursor: pointer;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #1a63a2;
    color: #fff;
    font-size: 0.9375rem;
    padding: 16px 48px;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 1rem;
    transition: all .15s ease;
    height: 3.3rem;
    width: 96%;
}

.input-box-text {
    font-weight: 300;
    display: block;
    font-size: 12px;
    text-align: left;
    margin: 0.3rem 0rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:40rem) {
    .center {
        width: 100%;
    }
    .continuebtn {
        border: 2px solid #1a63a2;
        cursor: pointer;
        font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
        font-weight: 500;
        margin: 0 0 1em;
        position: relative;
        height: 3.3rem;
        width: 100%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: #1a63a2;
        color: #fff;
        font-size: 0.9375rem;
        padding: 16px 13px;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1rem;
        transition: all .15s ease;
    }
    .containers {
        padding: 1px;
        text-align: left;
        margin: 0px auto;
    }
}