.brand-nav-row {
    margin: 25px 0;
}
.brand-nav-row li {
    background: #12212E;
    height: auto;
    margin-bottom: 7px;
}
.brand-nav-row a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.brand-nav-row a:hover, .brand-nav-row a:active, .brand-nav-row a:focus  {
    text-decoration: none;
}
.brand-nav-item img {
    width: 60px;
    height: 60px;
    margin-right: 5px; 
}
.brand-nav-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brand-nav-text-container span {
    font-size: 1rem;
    color: #F7F1E7;
}