.cr-case-details{
    display:inline-flex;
    width:100%;
    text-align:left;
    margin-bottom:20px;
}
.mya-case-icon{
    padding:2px;
}
.mya-case-number{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gotham-Book';
    text-transform: uppercase;
    color: #555;
    margin: 8px;
    letter-spacing: 1 rem;
    letter-spacing: 2px;
}
.case-info{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.case-info li {
    display: inline-block;
    padding: 20px;
    font-size:1rem;
    font-weight: 500;
}
.Cr-details{
    width:100%;
    margin-bottom: 15px;
}
.crcases-details-section{
    width:100%;
    padding: 20px;
    border: 1px solid lightgrey;
}
.case-label{
   font-weight:700;
}
.item-section{
    margin-bottom:20px;
}
th{
    padding:15px;
    text-align:center;
}
td{
    text-align:left;
}
table{
    border: 1px solid lightgrey;
}
.case-data{
    font-size:14px;
    padding:15px;
    text-align:left;
    margin-left: 40px;
}