.body {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #333;
    cursor: auto;
    font-family: 'sans-serif';
    -webkit-text-size-adjust: 100%;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.add {
    line-height: inherit;
    transition: color .15s ease;
    background-color: transparent;
    color: #004b3d;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 400;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.add:hover {
    text-decoration: underline;
}

.container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    max-width: 75rem;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

.appliance-list>.cell {
    margin-bottom: 2rem;
    color: #004b3d;
}

.appliance-list {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
    font-size: 1.625rem;
}

.medium-up-2>.cell {
    width: 50%;
}

.appliance-item {
    text-align: center;
    position: relative;
    display: block;
    border: 1px solid #ccc;
    height: 400px;
    margin: 1em;
    width: 335px;
}

.medium-offset-3 {
    margin-left: 25%;
}

.product-photo {
    cursor: pointer;
}

p.product-title,
p.details-link {
    color: #004b3d;
    padding: 0 1rem;
    font-family: 'ProximaNova-Regular';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

p a {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    font-size: 0.8235294117647059rem;
}

a {
    color: rgba(108, 97, 88, 1);
}

.appliance-item-myProducts:hover {
    border: 1px solid #004b3d;
    color: #004b3d;
    border-bottom-width: 5px;
}

.appliance-item-myProducts:hover input {
    color: #004b3d;
}

.appliance-item-myProducts:hover .close-icon {
    color: #004b3d;
}

.product-title:hover {
    text-decoration: underline;
    color: #47c5ff;
}

.grid-padding-x>.cell {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.container:not(.full)>.grid-padding-x {
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
}

.appliance-item p {
    text-align: center;
    background-color: #fff;
    color: #004b3d;
    padding: 0rem 2rem 0rem 2rem;
}

.grid-x {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    justify-content: center;
}

.font-weight-600 {
    font-weight: 600;
}

h3 {
    font-family: 'AdobeGaramondProRegular';
    color: #004b3d;
    font-size: 22px;
    padding-bottom: 1em;
}

a:hover {
    text-decoration: none;
    color: #004b3d;
}

.capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

div {
    display: block;
}

.main-Content {
    position: relative;
    margin: 0 auto;
    padding-bottom: 2em;
    max-width: 1161px;
}

.middleSection {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.grid-margin-x {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.grid-margin-x>.cell {
    width: calc(100% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.account-greeting-section {
    text-transform: uppercase;
    text-align: center;
}

.address-list-section {
    margin-bottom: 2rem;
}

h1 {
    font-size: 42px;
    letter-spacing: .25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

.infoheader {
    color: #004b3d;
    line-height: 1.18571em;
    text-transform: capitalize;
    font-weight: 200;
    margin-bottom: 0.2em;
    margin-top: 0rem;
}

.info {
    color: #004b3d;
    margin-bottom: 0.4em;
    margin-top: 0rem;
    font-family: 'AdobeGaramondProRegular';
}

.account-greeting-section {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.add-an-appliance-section {
    margin-bottom: 8rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.add-an-appliance>.grid-container {
    background-color: #dde8f1;
    padding: 2rem;
    max-width: 71.5rem;
}

.add-an-appliance-inner {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.padding-top-3 {
    padding-top: 3rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.addAppliancesTitle {
    padding-bottom: 2%;
}

.fontstyle {
    font-style: 'Gotham SSm A';
}

.infoHeader {
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
    color: #004b3d;
}

h2 {
    line-height: 1.18571em;
    text-rendering: optimizeLegibility;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-bottom: 0rem;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-underline {
    text-decoration: underline;
}

.text-capitalize {
    text-transform: capitalize;
}

.add-an-appliance-links p {
    margin-bottom: 0.5rem;
}

.close-icon {
    color: #ccc;
    text-align: right;
}

.close-icon:hover {
    color: #004b3d;
}

.appliance-item {
    text-align: right;
}

.no-border {
    border-bottom: 0px Solid white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    font-family: 'ProximaNova-Regular';
    text-rendering: auto;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
}

.close-button {
    font-size: 1em;
    color: #004b3d;
    right: -1rem;
    top: -0.5rem;
    line-height: 1;
    position: absolute;
    cursor: pointer;
}

.modal-header {
    margin-top: 1rem;
    font-size: 26px;
    color: #004b3d;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 1rem;
    text-transform: capitalize;
    border-bottom: none;
    background: none;
}

.text-center {
    text-align: center;
}

.reveal.add-address-modal {
    top: 40px;
    margin-bottom: 20px;
}

.reveal.add-address-modal {
    top: 40%;
    margin-bottom: 20px;
}

.reveal.add-address-modal {
    top: 40%;
    margin-bottom: 20px;
}

.reveal {
    overflow: visible;
    border: 4px solid #004b3d;
    margin-bottom: 1em;
    padding: 1rem 2rem;
    width: 600px;
    max-width: 75rem;
    z-index: 1006;
    backface-visibility: hidden;
    border-radius: 0;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    background: rgba(24, 63, 50, 0.95);
    overflow-y: auto;
}

.reveal {
    right: auto;
    left: auto;
    margin: 0 auto;
}

.or-div {
    text-transform: uppercase;
    color: #004b3d;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.main-label {
    font-weight: bold;
    color: rgba(108, 97, 88, 1);
    padding: 0px 3px;
}

.main-opt {
    font-weight: bold;
    font-size: 80%;
    padding: 0px 3px;
    color: rgba(108, 97, 88, 1);
}

.main-sub {
    font-size: 80%;
    padding: 0px 3px;
    color: rgba(108, 97, 88, 1);
}

.in-field {
    margin: 10px 0px;
}

.footer-message {
    text-align: center;
}

.button-action {
    display: inline-block;
}

.cancel-delete {
    width: 100%;
    padding: 20px;
}

.okButton {
    width: 100%;
    background-color: #004b3d;
    color: white;
    font-family: 'ProximaNova-Regular';
    font-weight: 800;
    font-size: 16px;
    padding: 10px 20px;
    border: solid 1px #004b3d;
    cursor: pointer;
    margin-left: 8px;
}

.cancelButton {
    background-color: white;
    border: 1px solid #004b3d;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'ProximaNova-Regular';
    font-weight: 800;
    text-transform: uppercase;
}

.cancelButton:hover {
    background-color: #004b3d;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
}

.reveal-overlay .modal-header {
    padding-bottom: 0;
    margin: 0px;
}

.slds-modal__header h3 {
    padding: 0;
    margin: 0;
}

.delete-message .removeproduct {
    display: contents;
    font-size: 1rem;
    text-align: center;
    font-family: 'ProximaNova-Regular';
}

footer {
    text-align: center;
    margin-top: 30px;
}

.button-action {
    width: 100%;
}

.modalbtndiv {
    width: 50%;
    float: left;
}

.address-heading {
    border-bottom: 1px solid rgba(24, 63, 50, 1);
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 0px;
    color: #004b3d;
    margin-bottom: 0.2em;
    margin-top: 0rem;
    font-family: 'AdobeGaramondProRegular';
    text-transform: capitalize;
    font-size: 1.625rem;
    line-height: 2rem;
    letter-spacing: 0.005em;
    font-weight: 300;
}

.linkbutton {
    background: none;
    border: none;
    font-family: 'ProximaNova-Regular';
    color: transparent;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: inherit;
    font-size: 0.875rem;
    padding-bottom: 1rem;
}

.linkbutton:hover {
    text-decoration: underline;
    color: #004b3d;
}

.appliance-item:hover {
    color: #004b3d;
}

.height1 {
    height: 50%;
    margin-bottom: 1rem;
}

.height2 {
    height: 30%;
    max-height: 30%;
    overflow: auto;
}

@media only screen and (min-width:200px) and (max-width: 320px) {
    .reveal.add-address-modal {
        top: 20%;
        margin-bottom: 20px;
    }
    .reveal {
        margin-bottom: 1em;
        padding: 1rem 1.5rem;
        width: 100%;
        z-index: 1006;
        backface-visibility: hidden;
        border-radius: 0;
        background-color: #fefefe;
        position: relative;
        top: 100px;
        margin-right: auto;
        margin-left: auto;
        overflow-y: auto;
        overflow: visible;
        border: 4px solid #004b3d;
    }
    .linkbutton {
        background: none;
        border: none;
        font-family: 'ProximaNova-Regular';
        color: #004b3d;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: inherit;
        font-size: 0.875rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .account-greeting-section {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }
    .address-heading {
        border-bottom: 1px solid rgba(24, 63, 50, 1);
        text-align: center;
        margin-top: 2rem;
        padding-bottom: 0px;
        color: #004b3d;
        margin-bottom: 0.2em;
        font-family: 'AdobeGaramondProRegular';
        text-transform: capitalize;
        font-size: 1.625rem;
        line-height: 2rem;
        letter-spacing: 0.005em;
        font-weight: 300;
        width: 100%;
    }
    .appliance-item {
        text-align: right;
    }
    .appliance-item {
        text-align: right;
        position: relative;
        display: block;
        border: 1px solid #ccc;
        height: auto;
        margin: 5px 0px;
        width: 100%;
    }
    .linkbutton {
        background: none;
        border: none;
        font-family: 'ProximaNova-Regular';
        color: #004b3d;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: inherit;
        font-size: 0.875rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .reveal.add-address-modal {
        top: 20%;
        margin-bottom: 20px;
    }
    .reveal {
        overflow: visible;
        border: 4px solid #004b3d;
        margin-bottom: 1em;
        padding: 1rem 2rem;
        width: 100%;
        z-index: 1006;
        backface-visibility: hidden;
        border-radius: 0;
        background-color: #fefefe;
        position: relative;
    }
    .reveal {
        overflow: visible;
        margin-bottom: 1em;
        padding: 1rem 2rem;
        width: 90%;
        z-index: 1006;
        backface-visibility: hidden;
        border-radius: 0;
        background-color: #fefefe;
        position: relative;
        top: 100px;
        margin-right: auto;
        margin-left: auto;
        overflow-y: auto;
    }
}

@media only screen and (min-width:426px) and (max-width: 768px) {
    .reveal.add-address-modal {
        top: 20%;
        margin-bottom: 20px;
    }
    .reveal {
        overflow: visible;
        border: 4px solid #004b3d;
        margin-bottom: 1em;
        padding: 1rem 2rem;
        width: 85%;
        z-index: 1006;
        backface-visibility: hidden;
        border-radius: 0;
        background-color: #fefefe;
        position: relative;
        top: 100px;
        margin-right: auto;
        margin-left: auto;
        overflow-y: auto;
    }
    .grid-x {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .linkbutton {
        background: none;
        border: none;
        font-family: 'ProximaNova-Regular';
        color: #004b3d;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: inherit;
        font-size: 0.875rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}