:root {
    /* BODY */
    --idp-font-family: "proxima-nova", "Helvetica Neue", Helvetica, "Arial", sans-serif;
    --idp-font-size: 1.625rem;
    --idp-body-text-align: center;
    --idp-color: #6C6158;
    --idp-required-input-color: #ea001e;
    --idp-validation-error-color: #ea001e;
    --idp-validation-error-font-size: 0.75rem;

    /* Form */
    --idp-form-background-color: #F4F4F3;
    --idp-form-padding: 1rem;
    --idp-form-text-align: left;

    /* Page Title */
    --idp-page-title-font-family: 'adobe-garamond-pro', Helvetica;
    --idp-page-title-font-weight: normal;
    --idp-page-title-font-size: 42px;
    --idp-page-title-letter-spacing: 1.05px;
    --idp-page-title-color: #004B3D;
    --idp-page-title-transform: capitalize;

    /* Page Sub Title */
    --idp-page-sub-title-font-size: 26px;
    --idp-page-sub-title-font-weight: 400;
    --idp-page-sub-title-transform: capitalize;

    /* Page Text */
    --idp-page-text-font-size: 1rem;

    /* Link */
    --idp-link-font-size: 1rem;
    --idp-link-font-family: "proxima-nova", "Helvetica Neue", Helvetica;
    --idp-link-text-decoration: underline;
    --idp-link-color: #6C6158;

    /* Link Hover */
    --idp-link-hover-opacity: 0.8;
    --idp-link-hover-text-decoration: underline;

    /* Link Inline */
    --idp-link-inline-color: #B65328;

    /* Label */
    --idp-label-color: #6C6158;
    --idp-label-font-weight: normal;
    --idp-label-font-size: 1rem;
    --idp-label-font-style: normal;
    --idp-label-letter-spacing: 0.5px;
    --idp-label-text-transform: capitalize;
    --idp-label-margin-bottom: 0.5rem;
    --idp-label-vertical-align: top;
    --idp-label-padding-bottom: 0px;

    /* Text Input */
    --idp-text-input-width: 100%;
    --idp-text-input-font-weight: normal;
    --idp-text-input-border-radius: 0;
    --idp-text-input-border: none;
    --idp-text-input-background-color: #FFFFFF;
    --idp-text-input-box-sizing: border-box;
    --idp-text-input-height: 43px;
    --idp-text-input-text-indent: 5px;
    --idp-text-input-color: #4e515e;
    --idp-text-input-text-align: left;
    --idp-text-input-letter-spacing: 0.4px;
    --idp-text-input-margin-bottom: 9px;

    /* Primary Button */
    --idp-primary-button-border-radius: 0;
    --idp-primary-button-border: none;
    --idp-primary-button-height: 50px;
    --idp-primary-button-font-size: 0.875rem;
    --idp-primary-button-font-weight: 700;
    --idp-primary-button-font-style: normal;
    --idp-primary-button-background-color: #004B3D;
    --idp-primary-button-color: #fff;
    --idp-primary-button-width: 100%;
    --idp-primary-button-text-align: center;
    --idp-primary-button-max-width: 100%;
    --idp-primary-button-text-decoration: none;
    --idp-primary-button-cursor: pointer;
    --idp-primary-button-text-transform: uppercase;
    --idp-primary-button-align-content: center;
    --idp-primary-button-letter-spacing: 2.1px;

    /* Primary Button Hover */
    --idp-primary-button-hover-color: #004B3D;
    --idp-primary-button-hover-border: 2px solid #004B3D;
    --idp-primary-button-hover-background-color: white;
    /*--idp-primary-button-hover-border-color: #004B3D;*/

    /* Secondary Button */
    --idp-secondary-button-border-radius: 0;
    --idp-secondary-button-height: 50px;
    --idp-secondary-button-font-size: 0.875rem;
    --idp-secondary-button-font-weight: 700;
    --idp-secondary-button-font-style: normal;
    --idp-secondary-button-background-color: white;
    --idp-secondary-button-color: #004B3D;
    --idp-secondary-button-width: 100%;
    --idp-secondary-button-text-align: center;
    --idp-secondary-button-max-width: 100%;
    --idp-secondary-button-text-decoration: none;
    --idp-secondary-button-cursor: pointer;
    --idp-secondary-button-text-transform: uppercase;
    --idp-secondary-button-align-content: center;
    --idp-secondary-button-letter-spacing: 2.1px;
    --idp-secondary-button-border: 2px;
    --idp-secondary-button-border-color: #004B3D;
    --idp-secondary-button-border-style: solid;

    /* Secondary Button Hover */
    --idp-secondary-button-hover-color: #fff;
    --idp-secondary-button-hover-border: 2px solid;
    --idp-secondary-button-hover-border-color: #fff;
    --idp-secondary-button-hover-background-color: #004B3D;

    /* Separator */
    --idp-separator-border-bottom: 1px solid #000;

    /* General Error */
    --general-error-color: crimson;

    /* SF Social Login */
    --idp-register-sfid-social-text-align: center;
    --idp-register-sfid-social-margin: 15px 0;
}
