:host {
    text-align: center;
}

.outer-container {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto 4rem;
}

.didnt-got-code {
    font-weight: bold;
}

.email-input-container,
.enter-passcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.passcode-input,
.email-input, .idp-text-input{
    width: 50%;
    min-width: 240px;
    margin-top: 1rem;
    background-color:  #F7F1E7;
}

.form-passcode-input,
.form-email-input {
    flex-grow: 0.25;
}

.part-width {
    width: 50%;
    min-width: 240px;
}

/* Small form factor: devices smaller than tablet */
@media only screen and (max-width: 48em) {
    .passcode-input,
    .email-input {
        width: 80%;
    }

    .part-width {
        width: 80%;
    }
}

.reset-button-container {
    width: 310px;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.button-size, .idp-text-input {
    width: 310px;
   
}

/*Horizontal separator start*/
.separator {
    width: 70%;
    margin: auto;
    display: flex;
    text-align: center;
    font-weight: bold;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    /*border-bottom: 1px solid #000;*/
}

.separator:not(:empty)::before {
    margin-right: 1em;
}

.separator:not(:empty)::after {
    margin-left: 1em;
}

/*Horizontal separator end*/


.horizontal-line-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .horizontal-line {
    flex: 1;
    border: none;
    border-top: 1px solid black; /* Adjust border properties as needed */
    margin: 30px;
  }
   
  .text-between-lines {
    margin: 2px; /* Adjust margin as needed */
  }

  .btn-width {
    width: 200px;
       
  }