:host {
    text-align: center;
}

.outer-container {
    max-width: 885px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto 4rem;
}

.didnt-got-code {
    font-weight: bold;
}

.email-input-container,
.enter-passcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.passcode-input,
.email-input {
    width: 50%;
    min-width: 240px;
    margin-top: 1rem;
}

.form-passcode-input,
.form-email-input {
    flex-grow: 0.25;
}

.part-width {
    width: 50%;
    min-width: 240px;
}

/* Small form factor: devices smaller than tablet */
@media only screen and (max-width: 48em) {
    .passcode-input,
    .email-input {
        width: 80%;
    }

    .part-width {
        width: 80%;
    }
}

.reset-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

/*Horizontal separator start*/
.separator {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    /*border-bottom: 1px solid #000;*/
}

.separator:not(:empty)::before {
    margin-right: 1em;
}

.separator:not(:empty)::after {
    margin-left: 1em;
}

/*Horizontal separator end*/