.back-color {
    background-color: #eff0f0;
    width: 100%;
    border-bottom: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.account-profile {
    max-width: 75%;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.cCenterPanel {
    background-color: #eff0f0;
    height: 77%;
    max-width: 100%;
    width: 100%;
}

.siteforceStarterBody {
    background-color: #eff0f0;
    outline: none;
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
}

.account-information-page,
.profile-data-list-item {
    border-bottom: 2px solid #c7c8ca;
    padding-top: 0.5rem;
}

.profile-data-list- {
    padding: 25px;
    background-color: #fff;
}

.mainContent {
    position: relative;
    border-radius: 1px;
}

.middleSection {
    padding-top: 1rem;
}

.field-label {
    padding: 5px 0px;
    margin: 0 2em 0 0;
    font-size: inherit;
    color: black;
    text-align: left;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.field-value {
    padding: 3px 0px;
    margin: 0 1em 0 3px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    text-align: left;
    color: black;
    line-height: 1.5;
}

.pointer {
    padding: 5px 0px;
    cursor: pointer;
}

.edit-div {
    width: 30rem;
    font-size: larger;
    margin: 3rem 10rem;
}

.update-button {
    width: 100%;
    background-color: #005aaa;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1875rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 25px;
}

.edit-header {
    text-align: center;
    font-weight: 700;
    display: block;
    width: 100%;
    margin: 3rem auto;
}

.consentmessage {
    text-align: center;
    width: 28rem;
    margin: 0px 0px 0px 0rem;
}

.add-div {
    width: 30rem;
    padding: 0px;
    margin: 3rem 10rem;
}

.in-field {
    text-align: left;
    margin: 15px 10px;
    width: 100%;
}

.add-header {
    text-align: center;
    width: 67%;
    margin-left: 150px;
    height: 10px;
}

.cont-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    padding: 25px 25px 0px 25px;
    width: 100%;
    background-color: white;
}

.phone-section {
    background-color: white;
    padding-bottom: 2px;
    padding: 0px 25px;
}

.add-label:hover {
    text-decoration: underline;
    text-decoration-color: #32beff;
    color: #32beff
}

a {
    text-decoration: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    border-bottom: 1px Solid #c7c8ca;
    padding-bottom: 0px;
    padding-top: 0px;
}

.item-details {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    letter-spacing: .25px;
}

.label-padding {
    padding: 20px 0px 0px 0px;
}

.spinner-div {
    position: relative;
    display: inline-block;
    margin: 4px 18px;
}

.slds-button_icon-border {
    border: 0px solid white;
}

svg {
    fill: blue;
}

.modal-title {
    font-size: 22px;
    color: #092c74;
    font-weight: 800;
}

.edit-link {
    color: #005aaa;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.5;
    margin: 0px 5px 0px 10px;
}

.update-button:hover {
    color: #fff;
    background-color: #32beff;
    cursor: pointer;
    text-transform: capitalize;
}

.update-message {
    color: rgb(3, 65, 22);
    font-size: 01rem;
}

.remove-link {
    color: #005aaa;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.5;
    margin: 0px 25px 0px 0px;
}

.add-icon {
    font-weight: 900;
    font-size: 1.375rem;
}

.add-label {
    margin: 0px 5px;
    font-weight: 300;
    font-size: 1rem;
    color: #151515;
}

.margin-15 {
    margin: 15px 0px 0px 0px;
}

.close-icon {
    font-weight: 700;
    font-size: 1.59rem;
    color: #005aaa;
    font-family: 'Helvetica-Neue-Bold';
}

.add-text {
    color: #005aaa;
    font-weight: 100;
    font-size: 1rem;
    text-align: left;
    display: block;
}

.add-text:hover {
    color: #32beff
}

.no-border {
    border-bottom: 0px Solid white;
}

.fa {
    display: inline-block;
    font-family: 'ProximaNova-Regular';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
}

.delete-link {
    display: flex;
    color: #005aaa;
    font-weight: 700;
    line-height: 1.5;
    font-size: inherit;
    margin: 0px 0px 0px 0px;
}

.closeButton {
    font-size: 1em;
    color: #005aaa;
    right: 23rem;
    margin-top: 0px;
    line-height: 0;
    position: absolute;
    cursor: pointer;
}

.close-Button {
    font-size: 1em;
    color: #005aaa;
    right: 12rem;
    margin-top: 0px;
    line-height: 0;
    position: absolute;
    cursor: pointer;
}

.close-Button:hover {
    background-color: transparent;
    border-style: none;
}

.close-button {
    font-size: 1em;
    color: #005aaa;
    right: 0rem;
    margin-top: 0px;
    line-height: 0;
    position: absolute;
    cursor: pointer;
}

.close-button:hover {
    background-color: transparent;
    border-style: none;
}

.closeButton:hover {
    background-color: transparent;
    border-style: none;
}

.modal-header {
    font-size: 24px;
    color: #151515;
    background-color: #fff;
    border-bottom: 0px solid #fff;
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-transform: capitalize;
    padding-top: 9px;
    padding-left: 24px;
    padding-right: 2.75rem;
    padding-bottom: 9px;
}

.text-center {
    text-align: center;
}

.popup-button {
    width: 16rem;
    background-color: #fff;
    color: #151515;
    padding: 15px 20px;
    margin: 8px 0;
    border: 2px solid #151515;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 25px;
}

.popup-button:hover {
    background-color: #151515;
    color: #fff;
    border: 2px solid #151515;
}

.popup-button-ok {
    width: 16rem;
    background-color: #005aaa;
    color: #fff;
    padding: 15px 20px;
    margin: 8px 0;
    border: 2px solid #151515;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 25px;
}

.popup-button-ok:hover {
    background-color: #32beff;
    color: #fff;
    border: 2px solid #151515;
}

.reveal.add-address-modal {
    top: 15%;
    margin-bottom: 20px;
}

.reveal {
    overflow: visible;
    border: 1px solid #cacaca;
    margin-bottom: 1em;
    padding: 1rem;
    width: 600px;
    max-width: 75rem;
    z-index: 1006;
    backface-visibility: hidden;
    border-radius: 0;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: auto;
}

.reveal {
    right: auto;
    left: auto;
    margin: 0 auto;
}

.or-div {
    text-transform: uppercase;
    color: #005aaa;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.custom-label,
.main-label {
    color: #151515;
}

.main-opt {
    font-weight: bold;
    font-size: 80%;
    padding: 0px 3px;
    color: rgba(108, 97, 88, 1);
}

.main-sub {
    font-size: 80%;
    padding: 0px 3px;
    color: rgba(108, 97, 88, 1);
}

.delete-message {
    text-align: center;
    padding: 0px 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.button-action {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.payment-section {
    max-width: 75%;
    margin: 25px auto;
    color: #555;
}

.payment-title {
    margin: 35px 0px 15px 0px;
    letter-spacing: 3px;
    font-size: 29px;
    text-align: center;
}

.payment-address {
    display: grid;
    text-align: center;
    line-height: 25px;
}

.payment-edit-link {
    letter-spacing: 1px;
    margin: 20px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.account-details-action-link {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.field-wrapper.callout-title-container .title-bar-circles-right {
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: solid 1px #fff;
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
}

.field-wrapper.callout-title-container .title-bar-circles-left,
.field-wrapper.callout-title-container .title-bar-circles-right {
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: solid 1px #fff;
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
}

.field-wrapper.callout-title-container .title-bar-circles-left {
    background-position: left;
    background-size: auto;
}

.field-wrapper.callout-title-container {
    background-color: #005AAA;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0 1rem;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.field-wrapper.callout-title-container .title-bar-circles-left {
    background-position: left;
    background-size: auto;
}

.field-wrapper.callout-title-container .callout-title-inner-container {
    margin: 1rem 0;
}

.field-wrapper.callout-title-container .callout-title-inner-container {
    flex: 0 0 auto;
    max-width: 100%;
}

.field-wrapper.callout-title-container .callout-title-inner-container .fielditem h3 {
    margin: 0;
    padding: 0 1rem;
    word-wrap: break-word;
}

.fielditem>h3 {
    color: white;
    font-weight: 600;
}

label {
    font-size: 0.9411764705882353rem;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 0em 0 0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    line-height: 1.8;
}

@media only screen and (max-width: 425px) {
    .delete-acc {
        display: inline-flex;
        width: -webkit-fill-available;
    }
    .edit-div {
        width: auto;
        margin: 0;
    }
    .delete-link {
        display: block;
        text-align: right;
    }
    .edit-link {
        margin: 15px 0px 10px 15px;
    }
    .remove-link {
        color: #005aaa;
        font-weight: 700;
        font-size: inherit;
        line-height: 1.5;
        margin: 0px 15px 0px 0px;
    }
    .update-button {
        padding: 10px;
    }
    .closeButton {
        right: 3rem;
    }
    .add-text {
        color: #005aaa;
        font-weight: 100;
        font-size: 1rem;
        text-align: left;
        display: block;
    }
}

@media only screen and (max-width: 639px) {
    .account-profile {
        max-width: 100%;
    }
    .item-details {
        display: flex;
        flex-direction: column;
    }
    .field-label {
        text-align: left;
        margin: 0 1em 0 1em;
        padding: 15px 0 4px 0;
    }
    .field-value {
        text-align: left;
        word-break: break-all;
        margin: 0 1em 0 1em;
    }
    .field-wrapper.callout-title-container {
        background-color: #005AAA;
        color: #fff;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        padding: 0 1rem;
        text-align: center;
    }
    .profile-information-section {
        height: 65px;
    }
    .close-Button {
        right: 1rem;
    }
    .edit-div {
        width: 15rem;
        margin: 20px;
    }
    .edit-header {
        font-size: 16px;
        text-align: center;
        margin: 2rem 0;
    }
    .in-field {
        text-align: left;
        margin: 0;
        width: 100%;
    }
    .consentmessage {
        width: auto;
    }
    .add-div {
        width: 15rem;
        margin: 20px;
    }
    .reveal {
        max-width: 100%;
        width: auto;
    }
    .button-action {
        display: block;
    }
    .add-text {
        color: #005aaa;
        font-weight: 100;
        font-size: 1rem;
        text-align: left;
        display: block;
    }
    .cont-body {
        min-width: 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        background-color: white;
    }
    .phone-section {
        background-color: white;
        padding-bottom: 2px;
        padding: 0px 0px;
    }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 1024px) {
    .account-profile {
        max-width: 100%;
    }
    .add-div {
        position: relative;
    }
    .closeButton {
        right: 7rem;
    }
    .edit-div {
        width: 20rem;
        font-size: larger;
    }
    .field-wrapper.callout-title-container {
        margin: 1rem 0;
        padding: 0 1rem;
    }
    .close-Button {
        font-size: 1em;
        color: #005aaa;
        right: 5rem;
        margin-top: 0px;
        line-height: 0;
        position: absolute;
        cursor: pointer;
    }
}