.capitalise {
  text-transform: capitalize;
}

.sub-title {
  font-weight: bold;

}

.card {
  margin: 15px;
  --slds-c-card-color-background: white;
}

.membership-card {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 0px 12px;
}

.continueShopping {
  text-decoration: solid;
  text-decoration-color: #245B83;
  padding: 5px;
  font-size: medium;
}

.bodewell-member {
  width: 50px;
  margin: 10px;

  .d {
      fill: #ffc01f;
  }
}