.tile{
    position: relative;
    min-height: 270px;
    /* aspect-ratio: 5/3; */
}

.button-container{
    position: absolute;
    bottom:3em;
}

.button{
    border: 1px solid #ffffff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.button:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.header{
    max-width: 50%;
    padding-top: 25%;
}

.newBanner{
    position:absolute;
    top:1.5em;
    background-color:white;
    color:rgb(230, 0, 190);
}