.body {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #333;
    cursor: auto;
    -webkit-text-size-adjust: 100%;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
}

.mainContent {
    position: relative;
    padding-bottom: 2em;
    margin: 0 auto;
    max-width: none;
}

.middleSection {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

lightning-icon {
    cursor: pointer;
}

div {
    display: block;
}

.grid-container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    max-width: 75rem;
    margin: 0 auto;
}

.grid-margin-x {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}


/* .grid1-x{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-flex;
} */

.grid1-x {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-flex;
}

.grid-padding-x1 {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.grid-x1 {
    display: -webkit-flex;
}

.grid-padding-x2 {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.grid-padding-x1 .grid-padding-x2 {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.grid-margin-x>.cell {
    width: calc(100% - 1.875rem);
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.product-spec-page .your-appliance-section {
    text-align: left;
}

section {
    margin-bottom: 0rem;
    display: block;
}

h1 {
    font-size: 28px;
    text-rendering: optimizeLegibility;
}

.infoheader {
    text-transform: uppercase;
    font-family: 'Gotham-Book';
    color: #333;
    line-height: 1.18571em;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 0.2em;
    margin-top: 0rem;
}

.your-appliance-section h1 {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}


/* .your-appliance-heading{
    text-transform: uppercase;
    font-weight: 100;
    font-size: xx-large;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
} */

.grid-margin-x>.medium-offset-0 {
    margin-left: calc(0% + 0.9375rem);
}

.grid-margin-x>.medium-6 {
    width: calc(50% - 1.875rem);
}

.grid-margin-x>.cell1 {
    margin-right: 0.9375rem;
    padding-left: 7rem;
}

.serial-number-viewing {
    display: block;
    margin-top: 25px;
}

.serial-number {
    font-family: 'Gotham-Book';
}

.locdetails {
    font-family: 'Gotham-Book';
    text-transform: capitalize;
    margin-bottom: 2rem;
}

p {
    font-size: 14px;
    line-height: 1.3rem;
    letter-spacing: 0.25px;
    margin-bottom: 0rem;
    height: auto;
    font-family: 'Gotham-Book';
}

.margin-top-2 {
    margin-top: 2rem;
}

.payment-title {
    margin: 1rem 0px 3rem 0px;
    letter-spacing: 0.25px;
    font-size: xx-large;
    text-align: center;
    font-weight: 100;
    font-style: normal;
    font-family: 'Gotham-Book';
    line-height: 1.18571em;
    color: #555;
    text-transform: uppercase;
}

.remove-link {
    padding-left: 5px;
    font-family: 'Gotham-Book';
    color: #003B71;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: inherit;
    font-size: 0.8235294117647059rem;
}

.capitalize {
    text-transform: capitalize;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Gotham-Book';
    font-size: 0.8235294117647059rem;
    transition: color .15s ease;
    background-color: transparent;
    color: #1a63a2;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: #092c74;
}

.mainContent>h2 {
    margin: 0 0 1em;
    color: #555;
}

.large-text-left-custom>h2 {
    padding-left: 15px;
}

.other-h2 {
    font-family: 'Gotham-Book';
    font-weight: 700;
    margin-bottom: 1em;
    color: #555;
    letter-spacing: 0.25px;
    font-size: unset;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: .25px;
    line-height: 1.18571em;
    text-rendering: optimizeLegibility;
}

.more-about-your-appliance {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
}

p.product-name {
    font-family: 'Gotham-Book';
    font-weight: normal;
    font-style: normal;
    color: #555;
    font-size: 14px;
    letter-spacing: 0.03rem;
    margin-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-photo {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.large-text-left-custom>p {
    padding-left: 15px;
}

.cell1 {
    height: auto;
    min-height: 35rem;
}

ul.support-links {
    text-align: left;
    list-style-type: none;
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 20em;
    max-height: 25rem;
    height: 25rem;
    margin: 0 -1.71429em;
}

ul {
    list-style-position: outside;
    line-height: 1.2;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.medium-block-grid-1>li {
    clear: both;
}

.support-links>li {
    display: inline;
    height: auto;
    float: left;
    padding: initial;
}

.medium-block-grid-1>li {
    width: 100%;
}

li {
    font-size: inherit;
}

ul.support-links a {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    font-family: 'Gotham-Medium';
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-size: medium;
}

ul.support-links a.icon-help {
    background-image: url(../images/GEA-icons/icon-owner-support.png);
}

.more-about-your-appliance-section-container {
    background-color: aliceblue;
    max-width: inherit;
    margin-top: 50px;
    height: auto;
    padding-top: 20px;
}

.grid-container:not(.full)>.grid-padding-x {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.grid1-x>.medium-10 {
    width: 83.33333%;
}

.medium-offset-1 {
    margin-left: 8.33333%;
}

.grid-padding-x>.cell {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

h2 {
    color: #555;
}

h2.your-appliance-subheading {
    margin-bottom: 1em;
    padding-bottom: 1rem;
    font-family: 'Gotham-Book';
    font-size: x-large;
    letter-spacing: 0.25px;
    line-height: 1.18751em;
    font-weight: 100;
}

h2.your-appliance-subheading {
    margin: auto;
}

.text-center {
    text-align: center;
}

.small-9 {
    width: 75%;
}

.your-appliance-subheading {
    font-weight: 100;
    font-size: x-large;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
}

body.product-spec-page .more-about-your-appliance-section .grid1-x {
    margin-bottom: 3rem;
}

.product-spec-page .cell.more-about-subsection {
    border-right: 1px solid #092c74;
    margin-top: 15px;
}

.product-spec-page .more-about-subsection .appliance-model-serial,
.more-about-subsection.appliance-nickname {
    padding: 1rem 6rem 0rem 1rem;
}

.appliance-model-serial {
    padding: 1rem 6rem 0rem 1rem;
    border-right: solid 1px;
}

.product-spec-page .more-about-subsection {
    color: #555;
    line-height: 4.18571em;
    text-align: left;
}

.grid1-x>.medium-6 {
    width: 50%;
}

h3 {
    color: #555;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3.other-h3-c {
    text-transform: uppercase;
    overflow: hidden;
    font-family: 'Gotham-Book';
    line-height: 1.18571em;
    font-weight: bold;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.model-number {
    margin-bottom: 2rem;
    font-family: 'Gotham-Book';
    letter-spacing: 0.25px;
}

.small-offset-3 {
    margin-left: 25%;
}

.small-6 {
    width: 50%;
    padding-left: 5em;
}

hr {
    box-sizing: content-box;
    border: solid #cfcfcf;
    border-width: 1px 0 0;
    height: 0;
    margin: 2rem 0 1.9375rem;
    clear: both;
    max-width: 75rem;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

h3 a {
    font-family: inherit;
    font-size: 100%;
}

.show-for-small-only {
    display: none;
}

.margin-top-half {
    margin-top: 0.5rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

input[type="text"] {
    border: 1px solid #bdb9b2;
    padding: 0rem 1.5rem 0rem 0.5rem;
    font-family: 'Gotham-Book';
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    appearance: none;
}

input {
    vertical-align: baseline;
    overflow: visible;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.button-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
}

.button,
.button:hover {
    padding: 0.85em 1em;
}

button .button.secondary.cancel-button.uppercase,
button.button.secondary.cancel-button {
    border: 1px solid #1a63a2;
    color: #1779ba;
    margin-right: 1rem;
    background-color: transparent;
}

.edit-serial-number-form>.button-group.expanded>.button {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    font-weight: 700;
}

.button-group.expanded .button {
    -webkit-box-flex: 1;
    flex: 1 1 0px;
}

.button-group .button {
    margin-bottom: 1px;
    display: inline-flex;
    justify-content: center;
    font-size: 0.9rem;
}

.button {
    line-height: 1rem;
    transition: all .15s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-family: 'Gotham-Book';
    text-decoration: none;
    display: inline-block;
    border-radius: 0;
    outline: 0;
    vertical-align: middle;
}

.uppercase {
    text-transform: uppercase;
}

.button.primary {
    background-color: #1779ba;
    color: #fefefe;
}

button[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    line-height: 1rem;
    transition: all .15s ease
}

.more-about-subsection.location-installation {
    padding: 1rem 1rem 0rem 7rem;
}

.more-about-subsection {
    color: #555;
    line-height: 4.18571em;
}

.product-spec-page .more-about-subsection p {
    margin-bottom: 3rem;
}

.margin-btm-0 {
    margin-bottom: 0;
}

.medium-offset-0 {
    margin-left: 10%;
}

.button.expanded {
    display: block;
    margin-right: 0;
    margin-left: 0;
}

.button {
    border-style: solid;
    border-width: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-color: #1779ba;
    font-size: .9375rem;
    border-radius: 0;
    outline: 0;
    vertical-align: middle;
}

.button.primary:hover {
    background-color: #126195;
    color: #fefefe;
}

.related-parts-and-accessories-section {
    padding-top: 0rem;
    text-align: center;
}

h2.your-appliance-subheading {
    margin-bottom: 1em;
    margin: auto;
}

.your-appliance-subheading {
    font-weight: 100;
    font-size: x-large;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
}

h2 {
    color: #555;
    margin-bottom: 1em;
    letter-spacing: .25px;
    line-height: 1.18571em;
    text-rendering: optimizeLegibility;
}

h2.your-appliance-subheading1 {
    margin: auto;
}

.text-center {
    text-align: center;
}

.small-91 {
    width: 75%;
}

.your-appliance-subheading1 {
    font-weight: 100;
    font-size: x-large;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
}

.infoHeader1 {
    padding-bottom: 5%;
    text-transform: uppercase;
}

.more-about-your-appliance1 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    padding-bottom: 4rem;
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: auto;
}

.add-address-form {
    font-family: sans-serif;
    position: relative;
    margin: 16px auto;
    padding: 1px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #333;
    cursor: auto;
}

.reveal.add-address-modal {
    top: 40px;
    margin-bottom: 20px;
}

label,
.mock-label {
    font-size: 0.9411764705882353rem;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 0em 0 1em;
    width: 100%;
    font-weight: bold;
    color: rgba(108, 97, 88, 1);
    line-height: 2.1;
    text-align: left;
}

.reveal {
    overflow: visible;
    border: 4px solid #1a63a2;
    margin-bottom: 1em;
    padding: 1rem 2rem;
    /* width: 600px; */
    max-width: 75rem;
    z-index: 1006;
    backface-visibility: hidden;
    border-radius: 0;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
}

.reveal {
    right: auto;
    left: auto;
    margin: 0 auto;
}

.modal-header {
    margin-top: 1rem;
    font-size: 22px;
    color: #092c74;
    font-weight: 800;
    margin-bottom: 0em;
    margin-top: 1rem;
    text-transform: capitalize;
}

.close-button {
    font-size: 1.3rem;
    color: #1a63a2;
    right: 0rem;
    top: 0rem;
    line-height: 1;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}

.fa {
    display: inline-block;
    /* font: normal normal normal 14px/1 FontAwesome; */
    font-size: inherit;
    font-family: 'Gotham-Book';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
}

.input-field-class {
    border: 1px solid #bdb9b2;
    padding: 0.2rem 1.5rem 0rem 0.5rem;
    height: 2.7375rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1rem;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
    font-size: 1rem;
    font-weight: normal;
    vertical-align: baseline;
    line-height: 1.5;
    color: #0a0a0a;
    overflow: visible;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    writing-mode: horizontal-tb;
    cursor: text;
}

.disclaimer-block {
    margin-top: 2rem;
}

.disclaimer {
    font-size: 0.875rem;
    line-height: calc(19/ 14);
    font-style: normal;
    margin-bottom: 1.5rem;
    text-rendering: optimizeLegibility;
}


/*modal*/

.delete-message .removeproduct {
    text-align: center;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: -10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.button-action {
    width: 100%;
    display: inline-block;
}

.modalbtndiv {
    width: 50%;
    float: left;
}

.slds-modal__header h3 {
    padding: 0;
    margin: 0;
    border-bottom: 0rem;
}

.cancleButton1 {
    background-color: white;
    color: #1a63a2;
    border: 1px solid #1a63a2;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Gotham-Medium';
    width: 100%;
    padding: 10px 20px;
}

.cancleButton1:hover {
    background-color: #1a63a2;
    color: white;
    border: 1px solid #1a63a2;
    cursor: pointer;
    font-family: 'Gotham-Medium';
    width: 100%;
    text-transform: uppercase;
    padding: 10px 20px;
}

.okButton {
    width: 100%;
    background-color: #1A63A2;
    color: white;
    padding: 10px 20px;
    border: solid 1px #1a63a2;
    cursor: pointer;
    margin-left: 8px;
    font-family: 'Gotham-Medium';
}

.okButton:hover {
    text-decoration: none;
    background-color: #092c74;
    color: #fff;
    border: 1.5px solid #1A63A2;
}

.cancel-delete {
    width: 100%;
    padding: 20px;
}

.footer-message {
    text-align: center;
}

.main-sub {
    font-size: 80%;
    padding: 0px 3px;
    color: rgba(108, 97, 88, 1);
}

.in-field {
    margin: 10px 0px;
}

.main-label {
    font-weight: bold;
    color: rgba(108, 97, 88, 1);
    padding: 0px 3px;
}

.main-opt {
    font-weight: bold;
    font-size: 80%;
    padding: 0px 3px;
    color: rgba(108, 97, 88, 1);
}

.or-div {
    text-transform: uppercase;
    color: #1a63a2;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.no-border {
    border-bottom: 0px Solid white;
}

.reveal1 {
    overflow: visible;
    border: 4px solid #1a63a2;
    margin-bottom: 1em;
    padding: 1rem 2rem;
    width: 600px;
    max-width: 75rem;
    z-index: 1006;
    backface-visibility: hidden;
    border-radius: 0;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
}

.reveal-overlay1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: auto;
}

.reveal1 {
    right: auto;
    left: auto;
    margin: 0 auto;
}

.reveal1.add-address-modal1 {
    top: 40px;
    margin-bottom: 20px;
}

.modal-header1 {
    font-size: 22px;
    color: #092c74;
    font-weight: 800;
    margin-bottom: 0em;
    margin-top: 0rem;
    text-transform: capitalize;
    border-bottom: none;
    background: none;
}

.write-a-review {
    margin-top: 1em;
}

a.write-a-review-link {
    color: #1a63a2;
    font-size: 14px;
    font-weight: normal;
    padding-left: 15px;
    font-family: 'Gotham-Book';
}

h4 {
    font-weight: bold;
    font-size: unset;
    line-height: 2.18571em;
    margin: 0 0 1em;
    color: #555;
    font-family: 'Gotham-Book';
    letter-spacing: .25px;
    text-rendering: optimizeLegibility;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-transform: none;
}

.related-parts-and-accessories-list {
    margin-top: 2rem;
}

.grid-x {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.grid-x.grid-margin-x {
    margin-left: 0rem;
}

.grid-margin-x {
    margin-right: -0.9375rem;
}

.product1-photo {
    margin-right: 2rem;
    /* border: #555 solid 1px; */
}

.imagetext img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 100%;
    height: 100%;
}

.imagetext img:hover {
    opacity: 0.2;
}

.imagetext a {
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
}

.RelPartButton {
    width: 150px;
    height: 40px;
    background-color: #126195;
    color: white;
    padding: 5px 5px;
    margin: 0px;
    text-transform: uppercase;
    font-size: initial;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

.text {
    margin: 5px 5px 5px 5px;
    height: -webkit-fill-available;
    padding: 40px 0px;
}

.go-to-part {
    height: 50px;
    margin-bottom: 10px;
}

.left {
    text-align: left;
    font-family: 'Gotham-Book';
}

.product-title {
    height: auto;
    overflow: auto;
    margin-bottom: 10px;
    font-family: 'Gotham-Book';
    text-align: center;
}

.RelPartButton:hover {
    background-color: #126195;
    color: #fefefe;
    border: 2px solid black;
}

.more-about-your-appliance-section {
    height: auto;
}

.select-box {
    text-align: left;
    display: block;
    font-weight: 400;
}

.validate {
    text-align: left;
    font-weight: 100;
}

.comments-icn {
    --sds-c-icon-color-foreground-default: #1a63a2;
    --sds-c-icon-weight: bold;
}

.remove-link-small {
    display: none;
}

@media only screen and (max-width:425px) {
    .remove-link-large {
        display: none;
    }
    .remove-link-small {
        display: block;
    }
    .payment-title {
        margin: 1rem 0px 2rem 0px;
        letter-spacing: 0.25px;
        font-size: xx-large;
        text-align: center;
        font-weight: 100;
        width: 100%;
        font-style: normal;
        font-family: 'Gotham-Book';
        line-height: 1.18571em;
        color: #555;
        text-transform: uppercase;
    }
    p.product-name {
        font-family: 'Gotham-Book';
        font-weight: normal;
        font-style: normal;
        color: #555;
        font-size: 14px;
        letter-spacing: 0.03rem;
        margin-bottom: 1rem;
    }
    .grid1-x>.medium-6 {
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .grid1-x {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
    .other-h2 {
        font-family: 'Gotham-Book';
        font-weight: bold;
        margin-bottom: 1em;
        color: #555;
        letter-spacing: 0.25px;
        font-size: unset;
        text-align: left;
    }
    .write-a-review {
        margin-top: 0em;
    }
    ul.support-links {
        text-align: left;
        list-style-type: none;
        max-width: 20em;
        display: flex;
        max-height: 25rem;
        height: 25rem;
        margin: 0 -1.71429em;
        align-items: flex-start;
    }
    li {
        font-size: inherit;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
    .cell1 {
        height: 40rem;
        min-height: 30rem;
        max-height: 45rem;
    }
    .margin-top-2 {
        margin-top: 1rem;
        padding-left: 0rem;
        text-align: center;
    }
    .product-photo {
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        height: auto;
    }
    .model-number {
        margin-bottom: 1rem;
        font-family: 'Gotham-Book';
        letter-spacing: 0.25px;
    }
    .serial-number {
        font-family: 'Gotham-Book';
        text-align: center;
    }
    .locdetails {
        font-family: 'Gotham-Book';
        text-transform: capitalize;
        margin-bottom: 2rem;
        text-align: center;
        height: auto;
        width: auto;
        word-break: break-word;
        text-align: center;
    }
    .show-for-small-only {
        display: block;
    }
    .small-6 {
        width: 50%;
        padding-left: 2em;
    }
    .small-offset-3 {
        margin-left: 20%;
    }
    hr {
        box-sizing: content-box;
        border: solid #000;
        border-width: 1px 0 0;
        height: 0;
        margin: 2rem 0 1.9375rem;
        clear: both;
        max-width: 75rem;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
    .appliance-model-serial {
        border: none;
    }
    h3.other-h3-c {
        text-align: center;
    }
    .model-number {
        margin-bottom: 1rem;
        text-align: center;
        font-family: 'Gotham-Book';
        letter-spacing: 0.25px;
    }
    .serial-number-viewing {
        display: block;
        margin-top: 5px;
    }
    .install-date {
        text-align: center;
    }
    .nick-name-text {
        text-align: center;
    }
    .medium-offset-0 {
        margin-left: 1%;
    }
    .medium-offset-1 {
        margin-left: 0.33333%;
    }
    .more-about-your-appliance-section {
        height: max-content;
    }
    .grid-container {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        max-width: max-content;
        margin: 0 auto;
    }
    .more-about-your-appliance-section-container {
        background-color: aliceblue;
        max-width: inherit;
        margin-top: 50px;
        height: max-content;
        padding-top: 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.3rem;
        letter-spacing: 0.25px;
        margin-bottom: 0rem;
        height: auto;
        font-family: 'Gotham-Book';
    }
    .warrenty-head {
        text-align: center;
    }
    .reveal1.add-address-modal1 {
        top: 20%;
        margin-bottom: 20px;
    }
    .reveal1 {
        overflow: visible;
        border: 4px solid #1a63a2;
        margin-bottom: 1em;
        padding: 1rem 1rem;
        width: 95%;
        z-index: 1006;
        backface-visibility: hidden;
        border-radius: 0;
        background-color: #fefefe;
        position: relative;
        top: 100px;
    }
    .select-box {
        text-align: left;
        display: block;
    }
    .grid-x {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        flex-wrap: nowrap;
    }
    .slick-slider {
        position: relative;
        display: flex;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-right;
        -webkit-tap-highlight-color: transparent;
        overflow: auto;
    }
    .related-parts-and-accessories-item {
        opacity: 1;
        width: 20rem;
        margin-right: 4rem;
        margin-left: 0rem;
        transform: translate3d(0px, 0px, 0px);
    }
    .imagetext img:hover {
        opacity: 1;
    }
    .imagetext img {
        position: relative;
        left: 0;
        top: 0;
        bottom: 100%;
        height: 100%;
    }
    .imagetext a {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
    }
    .text {
        margin: 5px 5px 5px 5px;
        height: -webkit-fill-available;
        padding: 5px 0px;
        display: block;
    }
    .product1-photo {
        margin-right: 1rem;
    }
    .imagetext {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .RelPartButton {
        width: 130px;
        height: 40px;
        background-color: #126195;
        color: white;
        padding: 5px 5px;
        margin: 0px auto;
        text-transform: uppercase;
        font-size: initial;
        font-weight: 800;
        border: none;
        cursor: pointer;
    }
}

@media only screen and (min-width:426px) and (max-width:768px) {
    .reveal1.add-address-modal1 {
        top: 20%;
        margin-bottom: 20px;
    }
    .nick-name-text {
        height: auto;
    }
    .select-box {
        text-align: left;
        display: block;
    }
    .grid-margin-x>.cell1 {
        margin-right: 0.9375rem;
        padding-left: 2rem;
    }
    .product-photo {
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        padding: 0.5rem;
    }
}