.container {
    background-color: white;
    padding : 16px;
    max-height: 480px;
    overflow-y: scroll;
    display: block;
    background-color: rgb(242, 242, 242);
}

.searchbar {
    position: absolute;
    right: 5px;
}
.inputbox,.searchbutton {
    display: inline-block;
    
}
.progressring {
    margin-left: 50%;
}