.main-header {
    font-size: 28px;
    font-weight: 300;
    margin-top: 0rem;
    text-align: left;
    display: block;
    text-transform: uppercase;
    color: #333;
    letter-spacing: .25px;
    margin-bottom: 3rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
    line-height: 1.18571em;
    text-rendering: optimizeLegibility;
    font-style: normal;
}

.path-content {
    font-size: 0.8235294117647059rem;
    padding: 0.5rem 0.71429em;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    color: #333;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    float: left;
    text-align: left;
    display: block;
    margin-bottom: 3rem;
    position: relative;
}

.path {
    font-size: 0.8235294117647059rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    color: #1a63a2;
    text-decoration: none;
}

.path:hover {
    color: #003B71;
    text-decoration: underline;
}

.main {
    width: 95%;
    margin: 0px auto;
}

.sub-header {
    border-top: 1px solid #eee;
    font-size: 14px;
    line-height: 1.3rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: left;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    cursor: auto;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
}

.sign-in-link {
    text-decoration: none;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial', 'Helvetica', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    display: block;
    padding-bottom: 2rem;
    font-size: 0.8235294117647059rem;
    cursor: pointer;
    line-height: inherit;
    color: #1a63a2;
    text-transform: uppercase;
}

.sign-in-link:hover {
    text-decoration: underline;
    color: #003B71;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
        margin: 0px auto;
        padding: 0.3rem;
    }
}